<ion-header *ngIf="!showSearchbar">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title" *ngIf="!showSearchbar">Chats</ion-title>
     <ion-buttons slot="end">
      <ion-button (click)="searchPatient()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="showSearchbar">
  <ion-toolbar color="danger" style=" padding-top: 10px;">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar *ngIf="showSearchbar" type="url" (ionInput)="search($event)" (ionBlur)="stopSearch()" placeholder=""></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="searchPatient()"  *ngIf="!showSearchbar">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="stopSearch()"  *ngIf="showSearchbar">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="lower-bottom" *ngFor="let c of chat_list" (click)="goToChatWindow(c)">

      <ion-avatar slot="start">
        <img src="{{c.doctor_profile_image}}">
      </ion-avatar>
      <ion-label>
        <h2 class="doctor-name">{{c.doctor_name}}<span>{{c.send_datetime | date : 'short'}}</span>
          <!-- <ion-icon class="map-icon" name="map-outline" (click)="showMap(a.location_name,a.address)"></ion-icon> -->
        </h2>
        <p *ngIf="c.type == 'text'">{{c.message}}
        </p>
        <p *ngIf="c.type != 'text' && c.from == 'doctor'">You sent image
        </p>
        <p *ngIf="c.type != 'text' && c.from == 'patient'">Sent you image
        </p>
       </ion-label>
    </ion-item>
   </ion-list>
</ion-content>
