ion-icon{
    color: #3C3737;
    
}
.title{
    color: #272727;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
}
.lower-border{
    border-bottom: 1px solid #ADADAD;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    ion-label{
        color: #272727;
        font-size:15px;
        margin-top: 0;
        font-size:12px;
    }
}